* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    position: relative;
    height: 118px;
    width: 138px;
    animation: scale 1.5s linear infinite;
}

span {
    display: inline-block;
    background-color: rgb(226, 34, 34);
    width: 70px;
    height: 70px;
    position: absolute;
}

span:nth-child(1) {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    top: 0;
    left: 0;
}

span:nth-child(2) {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 0;
    right: 0;
}

span:nth-child(3) {
    width: 0;
    height: 0;
    background-color: transparent;
    border-top: 60px solid rgb(226, 34, 34);
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

@keyframes scale {
    0%, 90%, 100% {
        scale: 1.2;
    }

    25%, 70%{
        scale: 1;
    }

    50% {
        scale: 1.3;
    }
}
